<h2>Tu Carrito</h2>

{{#if products.length}}
    <ul>
        {{#each products}}
            <li>
                <strong>{{this.product.title}}</strong> - Cantidad: {{this.quantity}}
                <button onclick="removeFromCart('{{../cartId}}', '{{this.product._id}}')">Eliminar</button>
            </li>
        {{/each}}
    </ul>
    <button onclick="clearCart('{{cartId}}')">Vaciar Carrito</button>
{{else}}
    <p>El carrito está vacío</p>
{{/if}}

<script>
    function removeFromCart(cartId, productId) {
        fetch(`/api/carts/${cartId}/product/${productId}`, {
            method: "DELETE"
        })
        .then(response => response.json())
        .then(data => location.reload())
        .catch(error => console.error("Error:", error));
    }

    function clearCart(cartId) {
        fetch(`/api/carts/${cartId}`, {
            method: "DELETE"
        })
        .then(response => response.json())
        .then(data => location.reload())
        .catch(error => console.error("Error:", error));
    }
</script>

